/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container styles */
.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #7b61ef;
  padding: 10px;
  border-radius: 10px;
}

header p {
  align-self: flex-end;
  color: white;
  padding-right: 10px;
}

/* Main content styles */
main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Task list styles */
ul#task-list {
  list-style-type: none;
  padding: 0;
}
