/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.header {
  background-color: #7b61ef;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: end;
  width: 100%;
}

.header p {
  margin: 0;
  font-size: 18px;
}

/* Main content styles */
main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Task list styles */
ul#task-list {
  list-style-type: none;
  padding: 0;
}
